<h1>All Tasks</h1>
<a href="#tasks/new">New Task</a>
<ul>
  <% tasks.each(function (task) { %>
    <li class="task">
      <a href="#/tasks/<%= task.escape("id") %>">
        <%= task.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>